<footer class="bg-light d-flex justify-content-center">
    <div class="col-6 p-5 mt-5">
        <h1 class="display-4 text-secondary text-center pt-5" style="font-size: 14pt;">О нас</h1>
        <p class="text-secondary">Мы - молодая и прогрессивная туристическая компания, занимающаяся продажей авиабилетов и туров. Приоритетом компании является обеспечение качественными услугами с возможностью бронирования и оплатой онлайн, не выходя из дома или офиса. Современные технологии не стоят на месте. Поэтому, даже не теряя времени на транспорт к офису агентства, Вы можете получить все необходимые услуги и спокойно поехать отдыхать</p>

        <address class="text-secondary text-center">Адрес: ул. Абв, д.5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Тел: 89168877864</address>
     
    </div>
</footer>