<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="Тур агенство, туризм, путешествия"/>
    <meta name="description" content="SmsaraAgT предлагает множество туров в разные страны мира."/>
    <title>SamsaraAgency</title>
    {{>link}}
</head>
<body class="index-body">
    {{>head}}

    <section id="journey" class="pb-5">
        <div class="container-fluid">
            <div class="col py-5 my-5 row justify-content-center align-items-center">
                <h1 class="text-white display-3 text-center w-100 ml-3 py-5 font-weight-light textshadow" >Выберите путешествие вашей мечты</h1>
                
                <div class="row col-10 py-5 mb-4 justify-content-around">
                    {{#each data }}
                        <div style="min-height: 250px;" class="col-lg-4 col-12 d-flex my-4 align-items-center justify-content-center">
                            <div style="background: url('{{country_background}}') ; background-size: cover; box-shadow: 3px 3px 10px purple; filter:grayscale(0)" class="countryblock w-100 h-100 row align-items-center justify-content-center overflow-hidden" id="{{id_country}}">
                                <h2 class="text-white text-center font-weight-normal py-3 w-100 bgraund textshadow display-4">{{country_name}}</h2>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    {{>foot}}

</body>
</html>